@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geometria";
  src: url("../public/fonts/Geometria.ttf");
}

@layer base {
  html {
    font-family: Geometria;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

/* NAVBAR */

.containerNav {
  backdrop-filter: blur(50px);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

/* FOOTER */
.footerContainer {
  backdrop-filter: blur(50px);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
